[tool.poetry]
name = "fjsplib"
version = "0.0.1"
description = "Python package to read and write FJSP instances."
authors = ["Leon Lan <leon.lanyidong@gmail.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/leonlan/FJSPLIB"

[tool.poetry.dependencies]
python = "^3.9"
numpy = "^1.26.4"


[tool.poetry.group.dev.dependencies]
pytest = "^7.1.2"
pre-commit = "^2.19.0"


[tool.black]
line-length = 79


[tool.ruff]
line-length = 79


[tool.ruff.lint]
ignore-init-module-imports = true
select = [
    "E", "F", "I", "NPY", "PYI", "Q", "RET", "RSE", "RUF", "SLF", "SIM", "TCH"
]

[tool.ruff.lint.isort]
case-sensitive = true
known-first-party = ["pyvrp", "tests"]


[tool.mypy]
ignore_missing_imports = true


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
